<div class="container text-center">
        <div class="row border-bottom text-center">
            <h3>Bath Supplies</h3>
        </div>
        <div class="clothes_row"> 
                
            <div *ngFor="let bath of baths" class="col border border-success" class="clothes_col">
               <h4>{{bath.name}}</h4> 
                <br>
                <a href="#"><img src="{{bath.img}}" alt="Baby bath supply image"></a> 
                <br>
                ${{bath.price}}.00
            </div>
        </div>
    </div>