<div class="container text-center">
        <div class="row border-bottom text-center">
            <h3>Car Seats</h3>
        </div>
        <div class="clothes_row"> 
                
            <div *ngFor="let seat of seats" class="col border border-success" class="clothes_col">
               <h4>{{seat.name}}</h4> 
                <br>
                <a [routerLink]="['/products/product/'+ seat._id]"><img src="{{seat.img}}" alt="Car seat image"></a> 
                <br>
                ${{seat.price}}.00
            </div>
        </div>
    </div>
