<div class="container">
   <div class="signin" style="width: 30%;">
      <h3>Sign-In</h3>
      <form>
         <div class="form-group">
            <label>Email address</label>
            <input type="email" name="login_email" class="form-control" placeholder="">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
         <div class="form-group">
            <label>Password</label>
            <input type="password" name="login_password" class="form-control" placeholder="">
         </div>
         <div class="form-group form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label" for="exampleCheck1">Keep me signed in</label>
         </div>
         <button type="submit" class="btn btn-info">Sign In</button>
      </form>
      <br>
      <div class="new">
         <p>New to Babyzon?</p>
         <a [routerLink]="['../registration']">Create Your Babyzon Account</a> 
         
      </div>
   </div>
   <div style="margin-top: 300px"></div>
</div>


   
   


