<div class="container">
   <div class="signin" style="width: 30%;">
      <h3>Sign-In</h3>
      <form (submit)="loginUser()">
         <div class="form-group">
            <p class="text-danger">{{err?.email}}</p>
            <label>Email address</label>
            <input type="email" [(ngModel)]="user.login_email" name="login_email" class="form-control" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
         </div>
         <div class="form-group">
            <p class="text-danger">{{err?.password}}</p>
            <label>Password</label>
            <input type="password" [(ngModel)]="user.login_password" name="login_password" class="form-control" placeholder="Enter password">
         </div>
         <div class="form-group form-check">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label" for="exampleCheck1">&nbsp;&nbsp;&nbsp; Keep me signed in</label>
         </div>
         <button type="submit" class="btn btn-info">Sign In</button>
      </form>
      <br>
      <div class="new">
         <p>New to Babyzon?</p>
         <a [routerLink]="['../registration']">Create Your Babyzon Account</a> 
         
      </div>
   </div>
   <div style="margin-top: 300px"></div>
</div>


   
   


