<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img class="logo" src="/assets/image/babyzon_logo.png">
    <a class="navbar-brand" [routerLink]="['']">Babyzon</a>
         
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products/login']">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products/registration']">Registry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart<span class="glyphicon glyphicon-shopping-cart"></span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
        
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products/clothes']">Clothings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products/strollers']">Strollers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products/accessories']">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products/seats']">Car Seats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['products/bath']">Bath</a>
        </li>
      </ul>  
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
